@charset "utf-8";

table {
  border:3px solid #000000;
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
}

th {
  width: 120%;
  height: 60px;
  color:#000033;
  background-position:left top;
  padding:0.3em 1em;
  text-align:center;
  white-space: nowrap;
}

#title th{
  border-right:1px solid #000000;
  border-bottom:1px solid #0066aa;
  background-color:#2288cc;
}

#title2 th{
  border-right:1px solid #0066aa;
  border-bottom:3px solid  #000000;
  background-color:#66bbee;
}

#title2 th.fmemory
,#title2 th.ahdd
,#title2 th.zabbix
,#title2 th.rzabbix {
  border-right:1px solid #000000;
}


td {
  border: 1px solid #000000;
  padding:0.3em 0.7em;
  text-align: center;
}
td.left {
  text-align: left;
}
td.center {
  text-align: center;
}
td.right {
  text-align: right;
}


.false {
  background: #666666;
}
.over {
  background: #ff3333;
}
.high {
  background: #ff9999;
}
.middle {
  background: #9999ff;
}
